

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{   font-family: "Inter", sans-serif;}
*{box-sizing: border-box;
margin: 0  ;
padding: 0;}
/* banner style */

.banner{
       /* border: 2px solid red;   */
   height: 550px;
   width: 1350px;

    background-image: url("../assets/Hero-bg.png "); 
}

.banner-container{ width: 990px;
height: 580px;
/* border: 2px solid red;   */
margin:0 auto ;
text-align: center;
width: fixed;

}
.banner-text-title{ margin-top: 30px;}
.banner-text-description{ width:850px ;
height: 50px;
margin: 0 auto;
margin-top: 24px;}
.banner-contact{background-color: #26111E;
    color:white ;
    padding: 21px 24px;
    border-radius: 5px;
    margin-top: 32px;}
    
    /* main style  */
main{width: 900px ;
height: 1150px; 
/* border: 2px solid red; */
margin: 0 auto ;}
.why-web-development{ margin: 80px 97px;
text-align: center;}

.web-section-description{margin-top: 24px;}
.cc-1 { display: flex; 
flex-direction: center;
margin: 48px;
gap: 40px;
}
.cc-2{ display: flex; 
    flex-direction: center;
    margin: 48px;
    gap: 40px; 
    }
    .cc-3{ display: flex; 
        flex-direction: center;
        margin: 48px;
        gap: 40px; 
        }

.column-1 .column-2 { width: 60%;}
.column-description{margin-top: 16px;}
.learn-more{margin-top: 25px;}
  /* my inspiration style */
     .my-inspiration{ 
        /* border: 2px solid red;   */
        width: 1000px ; 
    height: 600px ;}
        .inspiration-content{ text-align:center ; }
    .inspiration-description{ padding: 20px 120px 18px ;}
    
   .youtube-image{ width: 980px ; 
height: 480px; margin: 0 auto;}
/* my current target  styles */
.my-current-target{ 
    /* border: 2px solid red;  */
height: 400px; width: 1000px;}
.target{text-align: center;}
.target-title{padding: 20px 0px;}
.current-target-column{  display: flex; 
justify-content:space-evenly; 
padding-top: 30px;}
.current-column-1{background-color: #FFF6F4; 
    border-radius: 10px;}
    .current-column-2{background-color: #F2F6FE; 
        border-radius: 10px;}
        .current-column-3{background-color:#FFFDF2 ;
            border-radius: 10px;
        }
    .current-description{ padding:8px 0px 24px ;}
    
    footer{ border: 2px solid red;width: 1000px;}